.parent {
  display:grid;
  width:100%;
  grid-template-rows: 40px 200px 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:  'hdgArea'
                        'optionsArea'
                        'displayTableArea';
  background-color: yellow;
}

.hdg {
  grid-area: hdgArea;
  width:100%;
  display:grid;
  grid-template-columns: 4fr 6fr 2fr;
  grid-template-areas: "titleArea    monitorBtnsArea  versionArea ";
  background-color:navy;
  color:white; 
  border-bottom:2px solid white;
}

.options {
  grid-area: optionsArea;
  background-color:navy;
  color:white;
  width:100%;
  margin-left:0px;
  margin-right:0px;
  padding-top:10px;
  padding-left:0px;
  padding-right:0px;
}
.displayTable {
  grid-area: displayTableArea;
  width:100%;
  grid-column:1 / 3;
  background-color: lightgrey;
  color:navy;
  justify-self: center;
  padding-top:0px;
  margin-top:20px;
}

.title {
  grid-area:titleArea;
  text-align:left;
}
.monitorBtns {
  grid-area:monitorBtnsArea;
  text-align:right;
}

.version {
  grid-area:versionArea;
  text-align:right;
  font-size:small;
}

form {
  padding-bottom:20px;
  margin-bottom:20px;
}

.shopToShowClass {
  color:white;
  width:175px;
  height:75px;
  margin-left: 10px;
}

.inShopClass {
  color:white;
  width:150px;
  height:50px;
  margin-left: 10px;
}

.orderByClass {
  color:white;
  width:225px;
  margin-left: 10px;
}

.filterByClass{
  color:white;
  height:130px;
  margin-left: 10px;
  margin-right: 10px;
  width:500px;
}

.refreshBtn {
  color:white;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top:30px;
  padding-top: 5px;
}

.nameSearch {
  background-color:white;
  color:navy;
  height: 50px;
  width:120px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right:0px;
  padding-top: 5px;
  padding-left:0px;
  padding-right:0px;
}


.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.shopChoice button {
  background-color:lightgray;
  color:navy;
  width:auto;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: blue;
    border-color: white;
    color:white;
}

.message1 {
  grid-column:2;
  grid-row:7;
  color:blue;
  height:25px;
  padding-bottom:5px;
}

.message2 {
  grid-column:2;
  grid-row:8;
  color:white;
  align-items:bottom;
  justify-items:center;
  height:25px;
  visibility:hidden;
}

input[type="radio"] {
  margin:0 10px 0 10px;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  
}

.displayTable tbody tr:hover td {
  background-color: gray;
}

.displayTable tbody tr {
  line-height:15px;
}
.displayTable td {
  color:navy;
}
tr.highlighted td {
  background: red;
}



/* MODAL FORM FOR SHOWING TODAYS MONITORS */
#modal {
  display:block;
  width:100%;
  color:blue;
}
.modal-content {
  background-color:white;
  color:brown;
}
.modal-header button {
  float: right;
  }
.modal-body {
  width:100%;
}
.modal-xl {
  width: 95%;
  max-width:1200px;
}
.modal-title {
  width:100%;
  text-align:left;
  }
  
.modal-content form {
  margin-left: 100px;
  }

.modal-col-hdgs {
    display:grid;
    grid-template-columns:40px 40px 110px 250px 80px 80px 150px 150px 100px 130px 55px;
    text-align:center;
  } 
.modal-detail {
  display:grid;
  grid-template-columns:40px 40px 110px 250px 80px 80px 150px 150px 100px 130px 55px;
  margin-right:2em;
  border: 1px solid black;
  text-align:center;
}
.modal-detail span {
  border: 1px solid black;
}
.modal-footer {
  margin:10px;
  padding:0px;
  }
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 42px;
  font-weight: bold;
  }
.close:hover,
.close:focus {
  color:white;
  text-decoration: none;
  cursor: pointer;
  }
  



.Name {
  text-align:left !important;
}
.TrainingNeeded {
  color:red;
}
.NoShow {
  text-align:center;
  border:1px solid black;
}
.RecordID {
  background-color: yellow;
  color:blue;
}