
.container-fluid {
  display: grid;
  grid-template-columns:1fr 2fr auto;
  grid-template-rows: 120px 75px 30px 50px auto;
  row-gap:2px;
  background-color:lightgrey;
  padding:0px,0px,0px,0px;
  margin:0px,0px,0px,0px;
}

.hdg {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
  background-color: navy;
  color:white; 
  width: 100%;
  margin-right:0px; 
}

.options {
  grid-column:1 / 3;
  grid-row:2 / 5;
  background-color:navy;
  color:white;
  width:100%;
  padding-top:10px;
}

.shopToShow {
  color:white;
  width:175px;
  height:75px;
  margin-left: 100px;
}

.inShop  {
  color:white;
  width:150px;
  height:50px;
  margin-left: 40px;
}

.orderBy {
  color:white;
  width:225px;
  margin-left: 40px;
}

.filterBy {
  color:white;
  height:130px;
  margin-left: 40px;
  margin-right: 200px;
  width:500px;
}

.refreshBtn {
  color:white;
  height: 50px;
  margin-left: 100px;
  margin-top:30px;
  padding-top: 5px;
}

.nameSearch {
  grid-column:1;
  grid-row:8;
  background-color:white;
  color:navy;
  height: 30px;
  margin-left: 50px;
  padding-top: 10px;
}


.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.shopChoice button {
  background-color:lightgray;
  color:navy;
  width:auto;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: blue;
    border-color: white;
    color:white;
}

.message1 {
  grid-column:2;
  grid-row:7;
  color:blue;
  height:25px;
  padding-bottom:5px;
}

.message2 {
  grid-column:2;
  grid-row:8;
  color:white;
  align-items:bottom;
  justify-items:center;
  height:25px;
  visibility:hidden;
}

.displayTable {
  grid-column:1 / 3;
  grid-row: 8 / auto;
  background-color: lightgrey;
  color:navy;
  justify-self: center;
}

input[type="radio"] {
  margin:0 10px 0 10px;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  
}

.displayTable tbody tr:hover td {
  background-color: gray;
}

.displayTable tbody tr {
  line-height:15px;
}
.modal-body{
  font-size: 2em;
  text-align: left;
}

tr.highlighted td {
  background: red;
}