
.container-fluid {
  display: grid;
  grid-template-columns:1fr 2fr auto;
  grid-template-rows: 120px 75px 30px 50px auto;
  row-gap:2px;
  background-color:lightgrey;
  padding:0px,0px,0px,0px;
  margin:0px,0px,0px,0px;
}

.hdg {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
  background-color: navy;
  color:white; 
  width: 100%;
  margin-left:0px;
  margin-right:0px;
  padding-right:0px;
  padding-left:0px; 
}
.version {
  font-size:small;
}
.btnArea {
  float:right;
  
}
form {
  padding-bottom:20px;
  margin-bottom:20px;
}

.options {
  grid-column:1 / 3;
  grid-row:2 / 5;
  background-color:navy;
  color:white;
  width:100%;
  margin-left:0px;
  margin-right:0px;
  padding-top:10px;
  padding-left:0px;
  padding-right:0px;
  
}

.shopToShowClass {
  color:white;
  width:175px;
  height:75px;
  margin-left: 10px;
}

.inShopClass {
  color:white;
  width:150px;
  height:50px;
  margin-left: 10px;
}

.orderByClass {
  color:white;
  width:225px;
  margin-left: 10px;
}

.filterByClass{
  color:white;
  height:130px;
  margin-left: 10px;
  margin-right: 10px;
  width:500px;
}

.refreshBtn {
  color:white;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top:30px;
  padding-top: 5px;
}

.nameSearch {
  background-color:white;
  color:navy;
  height: 50px;
  width:120px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right:0px;
  padding-top: 5px;
  padding-left:0px;
  padding-right:0px;
}


.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.shopChoice button {
  background-color:lightgray;
  color:navy;
  width:auto;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: blue;
    border-color: white;
    color:white;
}

.message1 {
  grid-column:2;
  grid-row:7;
  color:blue;
  height:25px;
  padding-bottom:5px;
}

.message2 {
  grid-column:2;
  grid-row:8;
  color:white;
  align-items:bottom;
  justify-items:center;
  height:25px;
  visibility:hidden;
}

input[type="radio"] {
  margin:0 10px 0 10px;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  
}

.displayTable {
  width:100%;
  grid-column:1 / 3;
  grid-row: 8 / auto;
  background-color: lightgrey;
  color:navy;
  justify-self: center;
  padding-top:0px;
  margin-top:20px;
}

/* table {
  width: 80%;
  margin:0 auto;
} */
/* .displayTable {
  padding-left:20px;
} */
.displayTable tbody tr:hover td {
  background-color: gray;
}

.displayTable tbody tr {
  line-height:15px;
}
.displayTable td {
  color:navy;
}
tr.highlighted td {
  background: red;
}



/* MODAL FORM FOR SHOWING TODAYS MONITORS */
#modal {
  display:block;
  width:100%;
  color:blue;
}
.modal-header button {
  float: right;
  }
.modal-title {
  width:100%;
  text-align:left;
  }
  
.modal-content form {
  margin-left: 100px;
  }

.modal-col-hdgs {
    display:grid;
    grid-template-columns:40px 40px 110px 200px 80px 80px 150px 150px 100px 130px 50px;
 
  } 
.modal-detail {
  display:grid;
  grid-template-columns:40px 40px 110px 200px 80px 80px 150px 150px 100px 130px 50px;
}
.modal-footer {
  margin:10px;
  padding:0px;
  }
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 42px;
  font-weight: bold;
  }
.close:hover,
.close:focus {
  color:white;
  text-decoration: none;
  cursor: pointer;
  }
  

#modalBody {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.modal-col-hdgs {
  text-align:center;
}
.modal-detail {
  border: 1px solid black;
  text-align:center;
}
.modal-detail span {
  border: 1px solid black;
}
.Name {
  text-align:left !important;
}
.TrainingNeeded {
  color:red;
}
.NoShow {
  text-align:center;
  border:1px solid black;
}
.RecordID {
  background-color: yellow;
  color:blue;
}