{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rptMonitors.css') }}">
{% endblock %}

{% block content %} 
<div class='wholePage'>

    <div class="pageButtons">
        <button id="printPageButton" style=margin-right:20px; onClick="window.print();">PRINT</button>
        <button id="closePageButton" style=margin-right:20px; onclick="window.history.back()" >CLOSE PAGE</button>
    </div> 
    <br> 
    
    <br>
    <div class="reportHdg">
        <h1 class="text-center">THE VILLAGES WOODWORKERS CLUB</h1>
        <h2 class="text-center">{{shopName}}</h2>
        <h2 class="text-center">Monitors Scheduled For {{ hdgDate }}</h2>
        <hr>
    </div>
    
    <div>
        <table style="display: inline block;">                      
            <thead>
                <tr>
                    <th style="text-align:center">Shift</th>
                    <th style="text-align:center">Duty</th>
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">ID</th>
                    <th style="text-align:center">Time In</th>
                    <th style="text-align:center">Time Out</th>
                    <th style="text-align:center">Home</th>
                    <th style="text-align:center">Cell</th>
                    <th style="text-align:center">Last Training</th>
                    <th style="text-align:center">No Show</th>
                </tr>
            </thead> 
            <tbody>
                {% for t in todaysMonitors %}
                    <tr>
                        <td style="text-align:center">{{t['shift']}}</td>
                        <td style="text-align:left">{{t['duty']}} </td>
                        <td style="text-align:left">{{t['name']}} </td>
                        <td style="text-align:center">{{t['memberID']}} </td>
                        <td style="text-align:center">{{t['checkIn']}} </td> 
                        <td style="text-align:center">{{t['checkOut']}} </td> 
                        <td style="text-align:left">{{t['homePhone']}} </td> 
                        <td style="text-align:left">{{t['cellPhone']}} </td> 
                        <td style="text-align:center">{{t['lastTrainingDate']}} </td> 
                        <td style="text-align:center; color:red">{{t['noShow']}} </td>
                    </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>  
</div>
{% endblock %}
