{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/workersInShop.css') }}">  
{% endblock %}

{% block scripts %}
	{{super()}}
	<!--<script src="{{ url_for('static', filename='js/workersInShop.js') }}">  </script>-->
{% endblock %}

{% block content %}
<!--<style>
  .workersInShop {
  background-color: blue;
  font-size:3em;
}

.workersInShop tr td {
  color: red;
}

#workersInShop tr td {
  color: yellow;
}

</style> -->
<div class= "container-fluid ">
  <div class = hdg>
    <h1>THE VILLAGES WOODWORKERS CLUB</h1>
    <!--<input id="shopID" name="shopID" type="text" style= "background-color: white; color:blue" value={{shopIDcookieValue}}>    -->
    <h2>WORKERS IN SHOP</h2>
  </div>
  
    <!-- TOOLBAR TO SHOW FILTERING/SORTING OPTIONS -->
  <form class = "options btn-toolbar" action = "http://localhost:5000/workersInShop" method = "POST">
    <div class = "options btn-toolbar">
     
    <div class="shopToShow"  style="border:1px solid white; "> 
        <input id = "showRA" type="radio" name="shopChoice" value='Shop_Number=1'>Rolling Acres<br>
        <input id = "showBW" type="radio" name="shopChoice" value='Shop_Number=2'>Brownwood<br>
        <input id = "showBoth" type="radio" name="shopChoice" value='' >Show Both<br>
    </div> 
    <div class="inShop"  style="border:1px solid white; ">
        <input id="inShopNow" type="radio" name="inShop" value='Check_Out_Date_Time is null' checked="checked">In Shop Now<br>
        <input id = "inShopToday" type="radio" name="inShop" value='' >In Shop Today    
    </div>
  
    <div>
      <div class="orderBy" style="border:1px solid white">
          <input id="orderByName" type="radio" name="orderByItem" value='ORDER BY Last_Name, First_Name' checked="checked">Order By Name<br>
          <input id="orderByTimeIn" type="radio" name="orderByItem" value='ORDER BY Check_In_Date_Time'>Order By Check In Time
      </div>
    </div>
  
    <div class = "filterBy" style="border:1px solid white">
      <table>
        <header style="text-align: center">FILTER BY</header>
        <tr>
          <td><input type="radio" name="filterItem" value='Defibrillator_Trained = True'>Defibrillator Trained</td>
          <td><input type="radio" name="filterItem" value='(isPresident = True or isVP = True)'>President/VP</td>
          <td><input type="radio" name="filterItem" value='canSellLumber = True'>Lumber Sales</td>
        </tr>
        <tr> 
          <td><input type="radio" name="filterItem" value='Maintenance = True'>Repair/Maint</td>
          <td><input type="radio" name="filterItem" value='canSellMdse = True'>Merchandise Sales</td>
          <td><input type="radio" name="filterItem" value='isBODmember = True'>BOD Member</td>
        </tr>
        <tr>
          <td><input type="radio" name="filterItem" value='isSafetyCommittee = True'>Safety</td>
          <td><input type="radio" name="filterItem" value='isSpecialProjects = True'>Special Projects</td>
          <td><input type="radio" name="filterItem" value='isAskMe = True'>Ask Me</td>
        </tr>
        <tr>
          <td><input type="radio" name="filterItem" value='Mentor = True'>Mentors</td>
          <td><input type="radio" name="filterItem" value='' checked="checked">EVERYONE</td>
        </tr>
      </table>
    </div>
        <input class="btn btn-primary refreshBtn" type='submit' value ='Refresh List'>
    </form>
  </div>
  
</div>
    <!--
    <div class = "refresh">
      <button type="button" id="btnRefresh" class="btn-success mr-3">Refresh (POST))</button>  
      <input type = "submit" value="submit"/>
      </form>
    </div>
    
    <div class = "refresh">
      <button type="button" id="btnRefreshGET" class="btn-success mr-3">Refresh (GET)</button>
    </div>
    
    <div class = "test">
      <button type="button" id="btnRefresh" onclick = "location.href='test'" class="btn-success mr-3">TEST</button>
    </div>-->
   

  <!-- TWO LINES FOR MESSAGES -->
  <div class = "message1" style="border:1px solid white; text-align:center;width:500px">
    <label id="msg1">... SHOP(S) TO SHOW ...</label><br>
  </div>
  <div class = "message2" style="border:1px solid white; text-align:center;width:500px">
    <label id="msg2">... IN SHOP NOW/TODAY ...</label>
  </div>
  
  <!-- TEXT SEARCH BOX FOR NAMES -->
  <div class = "nameSearch" style="border:1px solid navy">
    <input class="form-control" id="mySearch" type="text" placeholder="Search..">
  </div>

  <!-- TABLE TO DISPLAY MEMBER DATA -->
  <div class = "displayTable">
    <table class="table">
      <thead>
        <tr>   
          <th>Name</th>
          <th>Check In</th>
          <th>Check Out</th>
          <th>Type Of Work</th>
          <th>Emergency Contact</th>
          <th>Emergency Phone</th>
          <th>Shop #</th>
          <th>Door Used</th>
        </tr>
      </thead>

      <tbody class = "workersInShop" id="myTable">
        {% for w in workersInShop %}
          <tr>
            <td>{{w.memberName}}</td>
            <td>{{w.CheckInTime}}</td>
            <td>{{w.CheckOutTime}} </td>
            <td>{{w.Type_Of_Work}}</td>
            <td>{{w.Emerg_Name}}</td>
            <td>{{w.Emerg_Phone}}</td>
            <td>{{w.Shop_Number}}</td>
            <td>{{w.Door_Used}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<!--    
<div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id=modalBody>
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
</div> -->

<!--
<script src="https://code.jquery.com/jquery-1.12.4.min.js">
function refreshList() {
    shopSelected = $('button[name=shopChoice]:checked').val()
    inShopOptionSelected = $('button[name=inShop]:checked').val()
    orderByOptionSelected = $('button[name=orderBy]:checked').val()
    filterOptionSelected = $('button[name=filter]:checked').val()
    
    msg = shopSelected + inShopOptionSelected + orderByOptionSelected + filterOptionSelected
    alert(msg)
   }
   $(document).ready(function(){
   $("input[type='button']").click(function(){
    var radioValue = $("input[name='shopChoice']:checked").val();
    if(radioValue){
      console.log("Selected - " + radioValue)
        alert("Your are a - " + radioValue);
    }
  })
})
</script>
-->
{% endblock %}